.new {
  text-align: center;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background-image: url("https://i.imgur.com/2wUMuuG.png");
  background-size: cover;
}
.input-range {
  -webkit-appearance: none;
  height: 100px;
  width: 20px;
  border-radius: 5px;
  outline: none;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
}
input[type="radio"][name="buttonGroup"] {
  display: none;
}
label {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
  width: 1.7em;
  text-align: center;
}

/* Clicking a label will select its corresponding hidden radio button
     We can select that radio buttons sibling label and style it. */
input[type="radio"][name="buttonGroup"]:checked + label {
  background-color: #3b4254;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
