@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background-image: url("https://i.imgur.com/5ZfpRbV.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: "Oxanium", cursive;
}
